<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav navbar-right">
    <li class="hidden">
      <a href="#page-top"></a>
    </li>
  <li>
    <a class="page-scroll" href="#team">Roster</a>
  </li>
  <li>
    <a class="page-scroll" href="https://www.warcraftlogs.com/guilds/395">Warcraft Logs</a>
  </li>
  <li>
    <a class="page-scroll" href="http://forums.vindicatum.com/index.php">Forums</a>
  </li>
  <li>
    <a class="page-scroll" href="http://forums.vindicatum.com/viewtopic.php?f=5&t=661">About + Apply</a>
  </li>
</ul>
</div>
<!-- /.navbar-collapse -->
</div>
<!-- /.container-fluid -->
</nav>

<!-- Header -->
<header class= "kill1">
  <div class="container">
      <div class="intro-text">
        <div class="intro-lead-in"></div>
        <div class="intro-heading">Vindicatum</div>
        <h4>
          13/13 Heroic | 2/13 Mythic
        </h4>
      <br>
      <br>
      <br>
    </div>

  </div>
  </header>


<!-- Services Section -->

<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Hi.</h2>
        <h3 class="section-subheading">
          <p>We're Vindicatum,</p>
          <p>We're the premier raiding guild on Iceygos (Icecrown+Malygos)</p>
          <p>
            We do on a strict 3 day schedule what most guilds try to accomplish in 4 or 5. On fewer hours.
            We like playing games together and our core member group has been established since Vanilla.
            We always welcome people who adhere to our philosophy and mindset and look for exceptional players to join us in our progression pushes.
            Head over to our
            <a href="http://forums.vindicatum.com/viewforum.php?f=5&sid=6674f2b2e3e38f52eb6d4c1acc81e429">about+application</a>
            forum if you're interested in joining us.
          </p>
        </h3>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">3-day Strict Schedule.</h4>
        <p class="text-muted">We raid:<ul class= "list-unstyled">
          <li>Wednesday 9pm - 12:15pm</li>
          <li>Sunday 8pm - 12:15pm</li>
          <li>Monday 9pm - 12:15pm</li>
        </ul></p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Loot Council</h4>
        <p class="text-muted">Loot is just a means to an end for us. We make use of an Open Loot Council.
          Gear is given to create the largest impact on the raid. Members discuss drops, and if the upgrade is even, or too close to really call,
          Officers break the tie based on performance, attendance, and looting history. We trust our raiders to be most interested in improving our raid, not their gear score.</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Contact Info</h4>
        <p class="text-muted">Tanned - GM <br>
        Powerwaddle - Tank & Meele <br>
        Arrow - Ranged <br>
        Renray - Healing</p>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <div class= "container">
    <div class= "row">
      <div>
        <h4 class= "text-center" > Click to see our Twitch.tv streams  </h4>
        <i class= "center-block btn-twitch"><%= image_tag 'Twitch_BlackLogo.png', class: 'img-centered img-responsive' %></i>
      </div>
    </div>
  </div>
  <br>
  <div class="container stream-bin">
    <div class="row" style="text-align: center">
      <div class="col-sm-2 col-sm-offset-1">
        <a href="http://www.twitch.tv/gloomylumi"><%= image_tag "Priest.ico"%></a>
        <p>
          Luminoire
        </p>
      </div>
      <div class="col-sm-2">
        <a href="http://www.twitch.tv/tanned_priest"><%= image_tag "Priest.ico"%></a>
        <p>
          Tanned
        </p>
      </div>
      <div class="col-sm-2">
        <a href="http://www.twitch.tv/draakken"><%= image_tag "Druid.ico"%></a>
        <p>
          Draakken
        </p>
      </div>
      <div class="col-sm-2">
        <a href="http://www.twitch.tv/powerwaddlex"><%= image_tag "Paladin.ico"%></a>
        <p>
          Powerwaddle
        </p>
      </div>

    </div>
  </div>
</section>

<!-- Team Section -->
<section id="team" class= "bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Raid Team</h2>
        <h3 class="section-subheading text-muted">Current trials are NOT listed.</h3>
      </div>
    </div>
  
    <div class="col-lg-12 text-center">
      <h3 class="section-heading">Tanks</h3>
    </div>
      <% @tanks.each do |tank| %>
      <div class="col-sm-3 col-sm-offset-2 text-center">
        <div class="team-member">
          <h4><%= tank[:name] %></h4>
          <ul class="list-inline social-buttons">
            <li><%= image_tag "#{tank[:class]}.ico", class: "img-roster" %></a></li>
          </ul>
        </div>
      </div>
      <% end %>
      <br>
      <br>
      <br>
      <div class="col-lg-12 text-center">
        <h3 class="section-heading">Healers</h3>
      </div>
      <% @healers.each do |healer| %>
      <div class="col-sm-3 text-center">
        <div class="team-member">
          <h4><%= healer[:name] %></h4>
          <ul class="list-inline social-buttons">
            <li><%= image_tag "#{healer[:class]}.ico", class: "img-roster" %></li>
          </ul>
        </div>
      </div>
      <% end %>
      <br>
      <br> 
      <br>
      <div class="col-lg-12 text-center">
        <h3 class="section-heading">DPS</h3>
      </div>
      <% @dps.each do |dps| %>
      <div class="col-sm-3 text-center">
        <div class="team-member">
          <h4><%= dps[:name] %></h4>
          <ul class="list-inline social-buttons">
            <li><%= image_tag "#{dps[:class]}.ico", class: "img-roster" %></li>
          </ul>
        </div>
      </div>
      <% end %>
      <br>
      <br>
      <br>
    </div>
  </section>



  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <span class="copyright">Site built and maintained by Houndstooth.</span>
        </div>
      </div>
    </div>
  </footer>
